/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap'); */

/* width */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(67, 88, 119); 
    /* border-radius: 10px; */
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(67, 88, 119); 
    
  }

html{

    scroll-behavior: smooth;
    
    /* To prevent text select */
    
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      
}

*{ box-sizing: border-box;}

body{
    /* background-color: #ccffcc; */
    background: #f9f9f9;
    color: #f9f9f9;
    /* font-family: Arial, sans-serif; */
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    color: #f9f9f9;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    body{
        font-size: 16px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    body{
        font-size: 15px;
    }
}
@media only screen and (max-width: 479px) {
    body{
        font-size: 14px;
    }
}

.Editor{
    width: 100vw;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}